version: 2

registries:
  npm-registry-registry-npmjs-org:
    type: npm-registry
    url: https://registry.npmjs.org
    token: '${{secrets.NPM_REGISTRY_REGISTRY_NPMJS_ORG_TOKEN}}'
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.NPM_REGISTRY_REGISTRY_GH_ORG_TOKEN}}

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      time: '00:00'
      timezone: Etc/UCT
    open-pull-requests-limit: 10
    target-branch: master
    labels:
      - dependencies
      - dependabot
    commit-message:
      prefix: chore
    registries:
      - npm-registry-registry-npmjs-org
    reviewers:
      - 'contentful/team-tolkien'
