version: 2.1

orbs:
  frontend-tools: contentful/frontend-tools@1.4.0
  vault: contentful/vault@1.30.0

executors:
  default:
    docker:
      - image: cypress/browsers:node-22.14.0-chrome-133.0.6943.53-1-ff-135.0-edge-133.0.3065.59-1
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD

cache-key: &cache-key
  key: npm-cache-{{ arch }}-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}-{{ .Branch }}

commands:
  use_npm_token:
    steps:
      - run: |
          echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_READ_TOKEN}" > ~/.npmrc
          echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc

  yarn_install:
    steps:
      - restore_cache: *cache-key
      - run: node -v
      - run: yarn -v
      - run: yarn install --prefer-offline --pure-lockfile
      - save_cache:
          <<: *cache-key
          paths:
            - ~/.cache/yarn

jobs:
  lint-and-test:
    executor: default
    environment:
      NX_DAEMON: "false"
      NX_SKIP_NX_CACHE: "true"
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: packages-read
      - yarn_install
      - run: yarn lerna run prebuild --skip-nx-cache && yarn lerna run build --skip-nx-cache
      - run: yarn lint
      - run: yarn prettier:check
      - run: yarn test
      - store_test_results:
          path: reports
    resource_class: medium+

  release:
    executor: default
    environment:
      NX_DAEMON: "false"
      NX_SKIP_NX_CACHE: "true"
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: semantic-release
      - run: git config --global user.email $GIT_COMMITTER_EMAIL
      - run: git config --global user.name $GIT_COMMITTER_NAME
      - run: git remote set-url origin "https://$GIT_AUTHOR_NAME:$GITHUB_TOKEN@github.com/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME"
      - run: |
          echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_WRITE_TOKEN}" > ~/.npmrc
          echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc
      - yarn_install
      - run: yarn lerna run prebuild --skip-nx-cache && yarn lerna run build --skip-nx-cache
      - run: yarn lerna version --no-private --conventional-commits --create-release github --yes
      - run: yarn lerna publish from-git --yes

  compressed-size:
    executor: default
    environment:
      NX_DAEMON: "false"
      NX_SKIP_NX_CACHE: "true"
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: packages-read
      - vault/get-secrets:
          template-preset: github-comment
      - use_npm_token
      - frontend-tools/compressed-size

workflows:
  version: 2
  # run on every commit
  commit:
    jobs:
      - lint-and-test:
          context:
            - vault
      - release:
          context:
            - vault
          filters:
            branches:
              only: master
          requires:
            - lint-and-test
  compressed-size:
    jobs:
      - compressed-size:
          context:
            - vault
