version: 2.1

orbs:
  frontend-tools: contentful/frontend-tools@1

executors:
  default:
    docker:
      - image: cypress/browsers:node14.17.0-chrome88-ff89
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD

cache-key: &cache-key
  key: npm-cache-{{ arch }}-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}-{{ .Branch }}

commands:
  use_npm_token:
    steps:
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc

  npm_install:
    steps:
      - restore_cache: *cache-key
      - run: npm ci --prefer-offline --no-audit --no-package-lock
      - save_cache:
          <<: *cache-key
          paths:
            - ~/.npm

jobs:
  lint-and-test:
    executor: default
    steps:
      - checkout
      - npm_install
      - run: npm run prettier:check
      - run: npm run test:ci
    resource_class: medium+

  release:
    executor: default
    steps:
      - checkout
      - run: git config --global user.email "prd-dev-workflows+ecosystem-bot@contentful.com"
      - run: git config --global user.name "contentful-ecosystem-bot"
      - npm_install
      - run: npm run build
      - run: npm run lerna -- version --no-private --conventional-commits --create-release github --yes
      # This to remove any generated package-lock.json files (this is the easiest solution to prevent breaking releases).
      - run: git checkout .
      - run: npm run lerna -- publish from-git --yes

  compressed-size:
    executor: default
    steps:
      - checkout
      - use_npm_token
      - frontend-tools/compressed-size

workflows:
  version: 2
  # run on every commit
  commit:
    jobs:
      - lint-and-test
      - release:
          filters:
            branches:
              only: master
          requires:
            - lint-and-test
  compressed-size:
    jobs:
      - compressed-size
